---
import NavBar from "../../components/NavBar.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<style>
	h1 {
		text-align: center;
		font-size: 3rem;
		color: rgb(13, 73, 73);
	}
</style>

<BaseLayout title="Acerda de..." description="Encuantra toda la información acerca de nosotros">
    <NavBar></NavBar>

    <h1>About</h1>
</BaseLayout>