---
import NavBar from "../components/NavBar.astro";
import Slide from "../components/Slide.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import BaseNews from "../components/BaseNews.astro";
---

<style>
	h1 {
		text-align: center;
		font-size: 3rem;
		color: rgb(13, 73, 73);
	}
</style>

<BaseLayout title="Página Principal" description="Esta es la página principal">
	<NavBar></NavBar>

	<h1>Astro - Página Principal</h1>

	<Slide></Slide>

	<Section></Section>

	<BaseNews></BaseNews>

</BaseLayout>
