---
import NavBar from "../../components/NavBar.astro";
import News from "../../components/BaseNews.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<style>
	body {
		background: #000;
	}
	h1 {
		text-align: center;
		font-size: 3rem;
		color: rgb(13, 73, 73);
	}
</style>

<BaseLayout title="Productos" description="Encuentra el listado de nuestros prodructos">
    <NavBar></NavBar>

	<h1>Products</h1>

</BaseLayout>