---
import NavBar from "../../components/NavBar.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<style>
	h1 {
		text-align: center;
		font-size: 3rem;
		color: rgb(13, 73, 73);
	}
</style>

<BaseLayout title="Cursos y más" description="Encuantra toda la información acerca de nuestros cursos">
    <NavBar></NavBar>

	<h1>Courses</h1>

</BaseLayout>